/* DM Sans Regular (400) */
@font-face {
  font-family: 'DM Sans';
  src: url('@/assets/fonts/DMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* DM Sans Medium (500) */
@font-face {
  font-family: 'DM Sans';
  src: url('@/assets/fonts/DMSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* DM Sans Bold (700) */
@font-face {
  font-family: 'DM Sans';
  src: url('@/assets/fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
